mat-card{
    width: fit-content;
    margin: 1em;
    background-color: rgba(112, 128, 144, 0.568);
}

a{
    text-decoration: none;
}

.buttonContainer{
    text-align: center;
}

button{
    display: inline-block;
    margin: 1em;
    min-width: 7rem;
}

button:hover{
    background-color: darkblue;
}