.container {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.button-bar {
  text-align: center;
}

button {
  display: inline-block;
  margin: 0.5rem;
  margin-bottom: 2rem;
  min-width: 15rem;
}

button:hover {
  background-color: darkblue;
}
